Repository igem-waterloo/uwaterloo-igem-2024, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sydneysherwood, @elysia-wang, @rebekahx23, @DavidM2004, @sydney-sherwood

Rename model
  models/💪protein-folding/assets/blank.png
  models/💪protein-folding/data/blank.csv
  models/💪protein-folding/data/blank.json
  models/💪protein-folding/scripts/main.py
Owners: none

Remove methanogenesis
  models/🧪methanogenesis/README.md
  models/🧪methanogenesis/assets/blank.png
  models/🧪methanogenesis/data/blank.csv
  models/🧪methanogenesis/data/blank.json
  models/🧪methanogenesis/scripts/main.py
Owners: none

Update README.md
  models/🐮inside-cattle/README.md
Owners: none

Add files via upload
  models/🐮inside-cattle/data/M_Methanobrevibacter_ruminantium_M1__44____32__AGORA__32__version__32__1__46__03.sbml
Owners: none

Update README.md
  models/🐮inside-cattle/README.md
Owners: none

Add files via upload
  models/🐮inside-cattle/scripts/build-FBA-network.py
Owners: none

Remove icons
  models/algae-n-enzymes/README.md
  models/algae-n-enzymes/assets/blank.png
  models/algae-n-enzymes/data/blank.csv
  models/algae-n-enzymes/data/blank.json
  models/algae-n-enzymes/scripts/main.m
  models/inside-cattle/README.md
  models/inside-cattle/assets/blank.png
  models/inside-cattle/data/blank.csv
  models/inside-cattle/data/blank.json
  models/inside-cattle/scripts/main.m
  models/outside-cattle/README.md
  models/outside-cattle/assets/blank.png
  models/outside-cattle/data/blank.csv
  models/outside-cattle/data/blank.json
  models/outside-cattle/scripts/main.py
  models/protein-folding/assets/blank.png
  models/protein-folding/data/blank.csv
  models/protein-folding/data/blank.json
  models/protein-folding/scripts/main.py
Owners: @DavidM2004, @elysia-wang

Move files and remove unneeded ones
  models/inside-cattle/data/M_Methanobrevibacter_ruminantium_M1__44____32__AGORA__32__version__32__1__46__03.sbml
  models/inside-cattle/data/blank.csv
  models/inside-cattle/data/blank.json
  models/inside-cattle/scripts/build-FBA-network.py
  models/inside-cattle/scripts/main.m
  models/🐮inside-cattle/data/M_Methanobrevibacter_ruminantium_M1__44____32__AGORA__32__version__32__1__46__03.sbml
Owners: none

Hide venv
  .gitignore
Owners: none

Rename file
  models/inside-cattle/scripts/build_fba_network.py
Owners: none

Fix file path and try outputting html obj
  models/inside-cattle/assets/m_ruminantium_flux.html
  models/inside-cattle/scripts/build_fba_network.py
Owners: none

First attempt at recreating fermentation model
  models/algae-n-enzymes/scripts/ExperimentaliGEM.m
Owners: @DavidM2004

Removed dependency on unknown values
  models/algae-n-enzymes/scripts/ExperimentaliGEM.m
Owners: @DavidM2004

Update README.md
  models/algae-n-enzymes/README.md
Owners: @DavidM2004

Create numeric_fermentation_model.m
  models/algae-n-enzymes/scripts/numeric_fermentation.m
Owners: @DavidM2004

Replace with MIT license
  LICENSE
Owners: none

Collect data
  models/outside-cattle/scripts/excel2csv.py
  models/outside-cattle/scripts/wallace_metadata.csv
Owners: @elysia-wang

initial data processing and models
  .gitignore
  models/outside-cattle/data/lactation_stage.csv
  models/outside-cattle/data/metadata.csv
  models/outside-cattle/data/methane.csv
  models/outside-cattle/scripts/data.py
  models/outside-cattle/scripts/main.py
  models/outside-cattle/scripts/multiple_regression.py
  models/outside-cattle/scripts/random_forest.py
Owners: @elysia-wang

added r2 value for rf and plots
  models/outside-cattle/assets/MLR_actual_vs_predicted.png
  models/outside-cattle/assets/RF_actual_vs_predicted.png
  models/outside-cattle/assets/blank.png
  models/outside-cattle/data/blank.csv
  models/outside-cattle/data/blank.json
  models/outside-cattle/scripts/data.py
  models/outside-cattle/scripts/main.py
  models/outside-cattle/scripts/random_forest.py
Owners: @elysia-wang

Add Monte Carlo Code
  models/algae-n-enzymes/data/MonteCarlo_CombinedTest_ExperimentalRNG.m
Owners: @DavidM2004

Thermodynamic model split into ODE model and Monte Carlo model
  models/algae-n-enzymes/scripts/MonteCarloMain.m
  models/algae-n-enzymes/scripts/main.m
  models/algae-n-enzymes/scripts/odeModel.m
Owners: @DavidM2004

Models
  models/outside-cattle/scripts/elastic_model.pkl
  models/outside-cattle/scripts/knn_model.pkl
  models/outside-cattle/scripts/knn_model_herd.pkl
  models/outside-cattle/scripts/lightgbm_model.pkl
  models/outside-cattle/scripts/methane_model.pth
  models/outside-cattle/scripts/svr_model.pkl
Owners: @elysia-wang

Prepare dataset
  models/outside-cattle/scripts/excel2csv.py
Owners: @elysia-wang

Streamlit app
  models/outside-cattle/scripts/main.py
Owners: @elysia-wang

Support code
  models/outside-cattle/scripts/requirements.txt
  models/outside-cattle/scripts/utils.py
Owners: @elysia-wang

Model Development Center
  models/outside-cattle/scripts/xgb_model.pkl
Owners: @elysia-wang

README.md
  models/outside-cattle/README.md
Owners: @elysia-wang

Inside cattle
  .gitignore
  models/inside-cattle/data/M_Methanobrevibacter_ruminantium_M1__44____32__AGORA__32__version__32__1__46__03.sbml
  models/inside-cattle/scripts/fermentation.py
  models/inside-cattle/scripts/model.py
  models/inside-cattle/scripts/model_from_mat.py
Owners: none

Gitignore
  .gitignore
Owners: none

Update README.md to follow template
  models/outside-cattle/README.md
Owners: @elysia-wang

fixed README formatting
  models/outside-cattle/README.md
Owners: @elysia-wang

small changes to main script
  models/outside-cattle/scripts/main.py
Owners: @elysia-wang

Add new model and assets
  models/outside-cattle/README.md
  models/outside-cattle/assets/elastic_net_actual_vs_predicted.png
  models/outside-cattle/assets/feature_selection.png
  models/outside-cattle/assets/heatmap_microbiome_features.png
  models/outside-cattle/assets/interface.png
  models/outside-cattle/assets/knn_actual_vs_predicted.png
  models/outside-cattle/assets/knn_herd_model.png
  models/outside-cattle/assets/lightgbm_actual_vs_predicted.png
  models/outside-cattle/assets/mlp_actual_vs_predicted.png
  models/outside-cattle/assets/mlp_loss_curves.png
  models/outside-cattle/assets/random_forest_actual_vs_predicted.png
  models/outside-cattle/assets/smogn.png
  models/outside-cattle/assets/svr_actual_vs_predicted.png
  models/outside-cattle/assets/trimmed_data.png
  models/outside-cattle/assets/xgboost_actual_vs_predicted.png
  models/outside-cattle/scripts/environment.yml
  models/outside-cattle/scripts/main.py
  models/outside-cattle/scripts/random_forest_model.pkl
Owners: @elysia-wang

add other models
  models/outside-cattle/scripts/data.py
  models/outside-cattle/scripts/main.py
  models/outside-cattle/scripts/multiple_regression.py
  models/outside-cattle/scripts/random_forest.py
Owners: @elysia-wang

added assets
  models/outside-cattle/assets/DecisionTreeScores.png
  models/outside-cattle/assets/KNNScores.png
  models/outside-cattle/assets/LightGBMScores.png
  models/outside-cattle/assets/MLR_actual_vs_predicted.png
  models/outside-cattle/assets/MultipleLinearRegression.png
  models/outside-cattle/assets/NeuralNetworkScores.png
  models/outside-cattle/assets/RF_actual_vs_predicted.png
  models/outside-cattle/assets/RandomForest.png
  models/outside-cattle/assets/RandomForestScores.png
  models/outside-cattle/assets/SupportVectorScores.png
  models/outside-cattle/assets/XGBoostScores.png
Owners: @elysia-wang

Update README.md
  models/outside-cattle/README.md
Owners: @elysia-wang

Delete models/outside-cattle/scripts/excel2csv.py
  models/outside-cattle/scripts/excel2csv.py
Owners: @elysia-wang

Added images - MATLAB outputs
  models/algae-n-enzymes/assets/Avg.jpg
  models/algae-n-enzymes/assets/CWConc.jpg
  models/algae-n-enzymes/assets/DegradationOverTime.jpg
  models/algae-n-enzymes/assets/blank.png
Owners: @DavidM2004

Fixed graphing scripts to be consistent with assets folder
  models/algae-n-enzymes/scripts/MonteCarloMain.m
Owners: @DavidM2004

Cleaned up lines that were commented out / unnecessary
  models/algae-n-enzymes/scripts/MonteCarloMain.m
  models/algae-n-enzymes/scripts/odeModelMulti.m
Owners: @DavidM2004

.github/CODEOWNERS:

# Code owners for each model, as per Software Tools workshop doc

modelsinside-cattle/ @sydneysherwood

models/outside-cattle/ @elysia-wang

models/methanogenesis/ @rebekahx23

models/algae-n-enzymes/ @DavidM2004

models/protein-modelling/ @sydney-sherwood
