Repository igem-waterloo/uwaterloo-igem-2024, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sydneysherwood, @elysia-wang, @rebekahx23, @DavidM2004, @sydney-sherwood

Updated README and renamed image files
  models/algae-n-enzymes/README.md
  models/algae-n-enzymes/assets/Average.jpg
  models/algae-n-enzymes/assets/CellWallConcentration.jpg
Owners: @DavidM2004

Add files via upload
  models/inside-cattle/scripts/fermentation_model.m
Owners: none

Update README.md
  models/algae-n-enzymes/README.md
Owners: @DavidM2004

Update README.md
  models/inside-cattle/README.md
Owners: none

Update and rename build_fba_network.py to build_metabolic_network.py
  models/inside-cattle/scripts/build_fba_network.py
  models/inside-cattle/scripts/build_metabolic_network.py
Owners: none

Software Interface
  models/inside-cattle/scripts/app.py
  models/inside-cattle/scripts/fermentation.py
  models/inside-cattle/scripts/fermentation_model_for_app.m
  models/inside-cattle/scripts/main.m
  models/inside-cattle/scripts/model.py
  models/inside-cattle/scripts/model_from_mat.py
Owners: none

delete smbl
  models/inside-cattle/data/M_Methanobrevibacter_ruminantium_M1__44____32__AGORA__32__version__32__1__46__03.sbml
Owners: none

README and requirements
  models/inside-cattle/README.md
Owners: none

README and requirements
  requirements.txt
Owners: none

Remove template README
  README.md
  models/outside-cattle/scripts/__pycache__/data.cpython-311.pyc
  models/outside-cattle/scripts/__pycache__/multiple_regression.cpython-311.pyc
  models/outside-cattle/scripts/__pycache__/random_forest.cpython-311.pyc
  models/outside-cattle/scripts/test.ipynb
Owners: @elysia-wang

.github/CODEOWNERS:

# Code owners for each model, as per Software Tools workshop doc

modelsinside-cattle/ @sydneysherwood

models/outside-cattle/ @elysia-wang

models/methanogenesis/ @rebekahx23

models/algae-n-enzymes/ @DavidM2004

models/protein-modelling/ @sydney-sherwood
